<p-card>
  <div class="ui-g">
    <div class="ui-g-8 ui-g-nopad">
      <b>{{aStudent?.givenNames + ' ' + aStudent?.familyName}}</b>
    </div>
    <div class="ui-g-4 ui-g-nopad">
      <p-fileUpload class="p-col-12" chooseLabel="Pic" mode="basic" accept=".jpg,.jpeg" maxFileSize="20000000"
        (onSelect)="upload($event)">
      </p-fileUpload>

      <p-button label="" icon="pi pi-trash" iconPos="left"></p-button>

    </div>
  </div>


  <div class="ui-g">
    <div class="ui-g-6">
      <img [src]="base64Image" />
    </div>
    <div class="ui-g-6">
      <div class="ui-g">
        <div class="ui-g-12"><b>Attendance:</b> {{aStudent?.attendance}}%</div>
      </div>
      <div class="ui-g">
        <div class="ui-g-6"><b>ATSI:</b> {{aStudent?.indigenous}}</div>
        <div class="ui-g-6"><b>SWD:</b> {{aStudent?.disabilities}}</div>
      </div>
    </div>
  </div>
  <div class="ui-g">
    <div class="ui-g-6"><b>Previous:</b> {{previousResult}}</div>
    <div class="ui-g-6"><b>Current:</b> {{currentResult}}</div>
  </div>
</p-card>