<!--The content below is only a placeholder and can be replaced.-->
<div>
  <a (click)="showSidebar = !showSidebar"><i class="pi pi-bars"></i></a>
</div>

<p-sidebar [(visible)]="showSidebar" [baseZIndex]="10000">

  <h3>Filter</h3>
  <div class="ui divider"></div>
  <h3>Update Students</h3>

  <button class="ui primary button">
    Import
  </button>

</p-sidebar>

<app-app-swim-lane [laneType]="'high'" [students]="highStudents | async"></app-app-swim-lane>
<app-app-swim-lane [laneType]="'medium'" [students]="mediumStudents | async"></app-app-swim-lane>
<app-app-swim-lane [laneType]="'low'" [students]="lowStudents | async"></app-app-swim-lane>